.underline:hover::after{
    width:100%;
    
}
.card .layer{
    transition-delay:0.2s ;
    
}

.card:hover{
    transform: scale(1.05,1.05);
}

.card:hover .layer{
    left:90%;
    transition-duration: 0.5s;  
}


