
 @media(min-width:650px){
    .w-full-2,.w-full-3,.w-full-4{
        width:calc(100%/2);
    }
 }
 @media(min-width:950px){
    .w-full-3,.w-full-4{
        width:calc(100%/3);
    }
 }
 @media(min-width:1150px){
    .w-full-4{
        width:calc(100%/4);
    }
 }